datasets>=4.1.1
elevenlabs>=2.16.0
faster-whisper==1.2.0
flask==3.0.3
flask-cors==6.0.1
groq>=0.32.0
gtts>=2.5.4
jsonschema>=4.25.1
librosa==0.11.0
numpy==2.3.3
pyannote.audio==4.0.0
pygame>=2.6.1
pydub>=0.25.1
pyttsx3>=2.99
pytest==8.3.2
python-dotenv==1.0.1
requests>=2.32.5
scipy==1.16.2
torch==2.8.0
torchaudio==2.8.0
transformers>=4.48.0
tqdm>=4.67.1
